Repository Etimo/etimo-kubernetes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @indrif, @morgan-cromell, @H4zze, @bjornkonrad

feat: add mysql db to activity tracker
  projects/activity-tracker/staging.yaml
Owners: @morgan-cromell, @indrif, @H4zze, @bjornkonrad

fix: docs and validators
  docs/Provisioning.md
  docs/Resources.md
  scripts/lib/interfaces.ts
  scripts/lib/schemas.ts
Owners: @indrif

fix: remove shared
  scripts/lib/terraform.ts
Owners: @indrif

remove shared
  projects/achievements-live/staging.yaml
  projects/achievements-test/staging.yaml
Owners: @indrif

feat: add mysql db to activity tracker (#35)
  docs/Provisioning.md
  docs/Resources.md
  projects/achievements-live/staging.yaml
  projects/achievements-test/staging.yaml
  projects/activity-tracker/staging.yaml
  scripts/lib/interfaces.ts
  scripts/lib/schemas.ts
  scripts/lib/terraform.ts
Owners: @indrif, @morgan-cromell, @H4zze, @bjornkonrad

release: 2024-04-12T13:39:31Z [skip ci]
  kubernetes/projects/staging/activity-tracker.yaml
  terraform/project_activity-tracker_staging.tf
Owners: @indrif

feat: add utbetalning project
  projects/utbetalning-test/info.yaml
  projects/utbetalning-test/staging.yaml
Owners: @indrif

feat: add utbetalning project (#36)
  projects/utbetalning-test/info.yaml
  projects/utbetalning-test/staging.yaml
Owners: @indrif

.github/CODEOWNERS:

# Base
* @indrif

# Projects
projects/achievements-live @indrif
projects/achievements-test @indrif
projects/activity-tracker @morgan-cromell @indrif @H4zze @bjornkonrad
projects/test @indrif
projects/test-mogge @morgan-cromell
